<h1>Selective Unmasking Test</h1>

<form id="unmask-form">
  <div>
    <label for="masked-field">Masked Field</label>
    <input type="text" id="masked-field" name="masked_field">
  </div>

  <div data-sentiero-unmask>
    <label for="unmasked-field">Unmasked Field</label>
    <input type="text" id="unmasked-field" name="unmasked_field">
  </div>

  <div>
    <label for="password-field">Password</label>
    <input type="password" id="password-field" name="password_field">
  </div>

  <div data-sentiero-unmask>
    <label for="unmasked-password">Unmasked Password</label>
    <input type="password" id="unmasked-password" name="unmasked_password">
  </div>

  <button type="button" id="submit-btn">Submit</button>
</form>
